<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%=link_to "projects", projects_path%>
 <hr />
 <% if current_admin_user %>
 <%= link_to "logout", destroy_admin_user_session_path %>
<% else %>
<%= link_to "login", new_user_session_path %>
<%= link_to "sign up", new_user_registration_path %>
<% end %>